<div class="log-container">
  <%= render partial: "layouts/header" %>
  <h3 class="log-heading" >Kube Status</h3>
  <button class="log-heading" onclick="window.location.reload()">Refresh</button>
  <div id="container">
  </div>
  <script type="text/javascript">
    blackKnight.kubeStatusPage(document.getElementById("container"), <%= @app_status.to_json.html_safe %>)
  </script>
</div>
