<div class="deployment">
  <%= render partial: "layouts/header" %>

  <div id="container">
  </div>
  <script type="text/javascript">
    blackKnight.deploymentPage(document.getElementById("container"), <%= @deployment.id %>)
  </script>
</div>
