<div class="deployment">
  <h2 class="deployment-publisher-name"><%= current_deploy_environment.publisher.name %></h2>
  <%= link_to current_deploy_environment.name, "javascript:void(0)", class: "deployment-environment-name" %>

  <div id="container">
  </div>
  <script type="text/javascript">
    blackKnight.deploymentPage(document.getElementById("container"), <%= @deployment.id %>)
  </script>
</div>
