<div class="deployment">
  <%= render partial: "layouts/header" %>
  <div id="container">
  </div>
  <script type="text/javascript">
    blackKnight.environmentPage(document.getElementById("container"), <%= current_deploy_environment.id %>)
  </script>
</div>
