@import "colors";

.deployment {
    font-size: 14px;
}

.deployment-publisher-name {
    font-size: 26px;
    font-weight: bolder;
    margin: 4px 0;
}

a.deployment-environment-name {
    text-decoration: none;
    color: $bright-blue;
    font-weight: bolder;
}

.deployment-deployment-container {
    margin-top: 45px;
}

.deployment-heading {
    font-size: 28px;
    font-weight: bolder;
    margin: 10px 0;
}

.deployment-table {
    td,th {
	padding: 0 40px;
	line-height: 32px;
    }
    margin: 16px 0 40px;

    &.deployment-table-without-heading {
	tr:nth-child(2n+1) { background-color: $really-light-gray; }
    }

    &.deployment-table-with-heading {
	th { background-color: $table-heading-gray; }
	tr:nth-child(2n) { background-color: $really-light-gray; }
    }
}

.deployment-output {
    border: 1px solid $dark-gray;
    padding: 25px;
    font-size: 12px;
    overflow: auto;
}

.deployment-input-tag {
    margin: 40px 0;

    input, button {
	height: 32px;
	box-sizing: border-box;
    }

    input {
	width: 487px;
	padding: 0 10px;
    }

    button {
	margin: 0 20px;
	background: $bright-blue;
	font-weight: normal;
	border: none;
	border-radius: 5px;
	width: 120px;

	&:hover {
	    background: $bright-blue;
	    cursor: pointer;
	}
    }
}