  <h2 class="deployment-publisher-name"><%= "#{current_deploy_environment.name} (#{current_deploy_environment.publisher.name})" %></h2>
  <p>
    <%= link_to "Deploys", "/environments/#{current_deploy_environment.id}", class: "deployment-environment-name" %>  |
    <%= link_to "Config Files", environment_config_files_path(current_deploy_environment.id), class: "deployment-environment-name" %>
    <% if current_deploy_environment.disposable? %>
    | <%= link_to "Dispose", environment_dispose_path(current_deploy_environment), class: "deployment-environment-name" %>
    <% end %>
  </p>
