  <h2 class="deployment-publisher-name"><%= "#{current_deploy_environment.name} (#{current_deploy_environment.publisher.name})" %></h2>
  <p>
  	<%= link_to "Deploys", "/environment/#{current_deploy_environment.id}", class: "deployment-environment-name" %>  |  
  	<%= link_to "Config Files", config_files_list_path(current_deploy_environment.id), class: "deployment-environment-name" %>
  </p>